body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
h1{
    flex: 1.5;
    margin: 10px;
    font-size: 40px;
    font-weight: 100;
}
.author{
    display: flex;
    flex: 1;
    justify-content: space-around;
    margin: 10px;
    font-size: 10px;
    align-items: center;
}
.tag{
    color: #477BE4;
    margin: 10px;
}
.desc{
    margin: 3vh;
}
.content{
    margin: 3vh;
}
.pdata{
    display: flex;
    align-items: center;
}
.inf{
    display: grid;
    grid-template-columns: auto auto auto;
}
.item1{
    grid-column: 1/4;
    font-size: 30px;
    font-weight: 50;
}
.item2{
    grid-column: 1/4;
    font-size: 15px;
    font-weight: 50;
}